
<%- include partials/head.ejs %> 
<%- include partials/navbar.ejs %> 

<!--Main Section-->
<section class="min-vh-100">
  <% if (title == 'Home'){ %> 
    <%- include partials/home.ejs %> 
  <% }else if(title == 'About'){ %> 
    <%- include partials/about.ejs %>
  <% }else if(title == 'Projects'){ %> 
    <%- include partials/projects.ejs %>
  <% }else if(title == 'Services'){ %> 
    <%- include partials/services.ejs %>
  <% }else if(title == 'Contact'){ %> 
    <%- include partials/contact.ejs %>
  <% } %> 
</section>



<%- include partials/footer.ejs %> 
<%- include partials/foot.ejs %> 
  
  
  